* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {

    background-color: rgba(221, 221, 221, 0.733);

    .main-title {
        text-align: center;
        margin: 60px 0px 10px 0px;
        font-size: 8rem;
    }

    .subtitle {
        text-align: center;
        margin: 10px 0px;
        font-size: 2.5rem;
    }

    h3 {
        text-align: center;
        margin: 20px 0px;
        font-size: 1.5rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;

    height: 7vh;

    background-color: rgba(128, 128, 128, 0.486);

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 50%;
    }
}


.decks {
    width: 85%;
    margin: 70px auto 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .deck {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
        height: 150px;
        background-color: blanchedalmond;
    }
}

footer {
    margin: 75px 0px;

    display: flex;
    justify-content: center;
    
    .name {
        width: 50%;
    }

    .credit {
        width: 50%;
    }
}
